@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: system-ui, serif;
    width: 100%;
    background: -webkit-linear-gradient(#6d5b7e, #6b6770 100%) no-repeat;

}


                                /* --------------- HEADER --------------------- */



.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    align-items: center;
    height: 80px;
}
.start {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.imgsize {

    height: 70px;
    width: 70px;

}

/* ---------- connect button --------------*/

.connecter {
    text-align: center;

}



/* --------------  PAGE CONNEXION / INSCRIPTION   ------------*/
.utilisateur {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #4a4e6d;
    box-shadow: 10px 10px 12px #29222f;
    border-radius: 60px;
    text-align: center;
    margin: 5% auto;

}

.flexcss {
    display: flex;
}


@media screen and (max-width: 1000px) {
    .flexcss {
        flex-direction: column;
    }
}

.connexion {
    display: flex;
    flex-direction: column;
    background-color: #4a4e6d;
    box-shadow: 10px 10px 12px #29222f;
    border-radius: 60px;
    text-align: center;
    margin: 5% auto;
    width: 60rem;
}

@media screen and (max-width: 1000px) {
    .connexion {
        width: 40rem;
    }
}


.separation {
    width:5px;
    height: 200px;
    margin-left:5%;
    margin-right:5%;
    margin-bottom: 15px;
    border:1px black;
    border-radius: 100px;
}

@media screen and (max-width: 1000px) {
    .separation {
        width: 350px;
        height: 5px;
    }
}

.inscrire {
    border: 1px solid #edc73f;
    padding: 40px;
}

.account{
    display: flex;
    flex-direction: row;
    width: 33vw;
    height: 33vh;
    text-align: center;
    padding-left: 20px;
}
.account2{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10px;
}

.post {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color: #25273b;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 40px;
}

.textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-comment {
    background: #363954;
}

.creation {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/* LOGIN TO SIGN*/

.logtosign-box {
    color: #fff;
    padding: 16px;
    margin: 0 auto;
}

.logtosign-text {
    font-size: 14px;
    margin-bottom: 20px;
    text-shadow: 0 0 3px #000000cc, 0 0 8px #00000080;
}

.logtosign-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 0 0 3px #000000cc, 0 0 8px #00000080;
}

@media screen and (max-width: 1000px) {
    .logtosign-text {
        font-size: 30px;
    }
}
@media screen and (max-width: 1000px) {
    .logtosign-title {
        font-size: 50px;
    }
}

.phone {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

@media screen and (max-width: 1000px) {
    .phone {
        font-size: 70px;
        line-height: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    .phone2 {
        font-size: 40px;
        line-height: 3rem;
        
    }
}

.inputphone {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@media screen and (max-width: 1000px) {
    .inputphone {
        font-size: 2rem;
        line-height: 4rem;
    }
}

.sizebutton {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background: rgb(50, 49, 49);
}

@media screen and (max-width: 1000px) {
    .sizebutton {
        height: 100px;
        font-size: 3rem;
        flex-direction: column;
        align-items: center;
    }
}


/*/////////////           BURGER + NAVBAR LEFT         ////////////////*/




/* The side navigation menu */

.bigburger {
    padding-left: 30px;
}

.burger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: -webkit-linear-gradient(rgb(53, 53, 53) 0, #373737 100%);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}





/* //////////////////////////////////////////////////////  */

a {
    text-align: center;
    text-decoration:none;
}


h2:link {
    text-decoration: none;
    color: black;
}
h2:visited {
    text-decoration: none;
    color: black;
}

.title {
    margin: 10px 10px 10px 30px;
    text-decoration: none;
    color: black;
}


.connectb {
    display: flex;
}

.capitalize {
    text-transform: capitalize;
}

a.button1 {
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    margin-left: 30px;
    width: 150px;
    height: 30px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
}

a.button2 {
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    color: initial;
    margin-left: 30px;
    width: 150px;
    height: 30px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    background-color: #4a4e6d;
}

/*   /////    BODY    /////*/


.postcontent {
    border: 1px solid #bf8c40;

}

.auteur {
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    border: 1px solid #bf8c40;
}

.body-content {
    padding: 0.938rem;
    border: 1px solid #bf8c40;
    margin: 1.563rem;
}


.category {
    border: 1px solid #000000;
    margin: 1.563rem;
}



.breadcrumb {
    padding: 5px 15px 5px 15px;
    list-style: none;
    margin: 1.563rem 1.563rem 0 1.563rem;
    background: #4a4e6d;
    box-shadow: 5px 5px 7px #29222f
}

.breadcrumbcat {
    padding: 5px 15px 5px 15px;
    list-style: none;
    background: #4a4e6d;
}

.breadcrumbcatpost {
    padding: 5px 15px 5px 15px;
    list-style: none;
    background: #5e5e67;
}

.breadcrumb>li {
    display: inline-block;
}

.item {

    font-size: 12px;
    line-height: 32px;
    font-family: "Segoe UI",sans-serif;
    color: #ffffff!important;
}



.body {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-evenly;
}


/*   PARTIE GAUCHE  */

.gauche {
    padding: 0.938rem;
    border: 1px solid #bf8c40;
    margin: 1.563rem;
    width: 75%;
    background-color: #00000040;
}

.col-25 {
    float: left;
    width: 15%;
    margin-top: 20px;
    color: #6b7280;
}

.col-75 {
    float: left;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75{
        width: 100%;
        margin-top: 0;
    }
}

.vertical-line{
    border-left: 2px solid #000;
    display: inline-block;
    height: 400px;
    margin: 0 125px 0 20px;
}

.menuscroll {
    width: 40vw;
}

/*   PARTIE DROITE  */

.droite {
    padding-top: 30px;
}


/*///// SLIDER ////!**/

/*.image {*/
/*    width: 10%;*/
/*    height: 100px;*/
/*    border-radius: 10px;*/
/*    padding: 40px 100px 20px;*/
/*}*/
/*.radio {*/
/*    display: none;*/
/*}*/
/*.images {*/
/*    overflow: hidden;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    width: 100%;*/
/*}*/
/*.images-inner {*/
/*    width: 500%;*/
/*    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);*/
/*    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);*/
/*}*/
/*.image-slide {*/
/*    width: 20%;*/
/*    float: left;*/
/*    text-align: center;*/
/*    color: #4a5353;*/
/*    font: normal normal bold 18px/30px Muli;*/

/*}*/
/*.image-slide,*/
/*.fake-radio,*/
/*.radio-btn {*/
/*    transition: all 0.5s ease-out;*/
/*}*/
/*.fake-radio{*/
/*    margin-left: 900px;*/
/*    margin-right: 895px;*/
/*    margin-bottom: 100px;*/
/*    margin-top: 30px;*/
/*}*/


/*!* Move slides overflowed container *!*/
/*#slide1:checked ~ .images .images-inner {*/
/*    margin-left: 0;*/
/*}*/
/*#slide2:checked ~ .images .images-inner {*/
/*    margin-left: -100%;*/
/*}*/
/*#slide3:checked ~ .images .images-inner {*/
/*    margin-left: -200%;*/
/*}*/




/*!* Color of bullets *!*/
/*#slide1:checked ~ div .fake-radio .radio-btn:nth-child(1),*/
/*#slide2:checked ~ div .fake-radio .radio-btn:nth-child(2),*/
/*#slide3:checked ~ div .fake-radio .radio-btn:nth-child(3) {*/
/*    background: #e7e71d;*/
/*}*/
/*.radio-btn {*/
/*    visibility: hidden;*/
/*    width: 30px;*/
/*    height: 10px;*/
/*    border-radius: 5px;*/
/*    background: #e3e3e3;*/
/*    display: inline-block !important;*/
/*    margin: 0 1px;*/
/*    cursor: pointer;*/

/*}*/
/*!* Color of bullets - END *!*/


/*!* Calculate AUTOPLAY for BULLETS *!*/
/*@keyframes bullet {*/
/*    0%, 33.32333333333334%	{*/
/*        background: #e7e71d;*/
/*    }*/
/*    33.333333333333336%, 100% {*/
/*        background: #e3e3e3;*/
/*    }*/
/*}*/


/*#play1:checked ~ div .fake-radio .radio-btn:nth-child(1) {*/
/*    animation: bullet 12300ms infinite -1000ms;*/
/*}*/

/*#play1:checked ~ div .fake-radio .radio-btn:nth-child(2) {*/
/*    animation: bullet 12300ms infinite 3100ms;*/
/*}*/

/*#play1:checked ~ div .fake-radio .radio-btn:nth-child(3) {*/
/*    animation: bullet 12300ms infinite 7200ms;*/
/*}*/
/*!* Calculate AUTOPLAY for BULLETS - END *!*/




/*!* Calculate AUTOPLAY for SLIDES *!*/
/*@keyframes slide {*/
/*    0%, 25.203252032520325%	{ margin-left: 0; }*/
/*    33.333333333333336%, 58.53658536585366%	{ margin-left: -100%; }*/
/*    66.66666666666667%, 91.869918699187%	{ margin-left: -200%; }*/
/*}*/


/*.st-slider > #play1:checked ~ .images .images-inner {*/
/*    animation: slide 12300ms infinite;*/
/*}*/
/*!* Calculate AUTOPLAY for SLIDES - END *!*/





/*!* Calculate AUTOPLAY for CAPTION *!*/


/*#play1:checked ~ .labels .label:nth-child(1) {*/
/*    animation: caption 12300ms infinite -1000ms;*/
/*}*/

/*#play1:checked ~ .labels .label:nth-child(2) {*/
/*    animation: caption 12300ms infinite 3100ms;*/
/*}*/

/*#play1:checked ~ .labels .label:nth-child(3) {*/
/*    animation: caption 12300ms infinite 7200ms;*/
/*}*/

/*.labels {*/
/*    content-visibility: hidden;*/
/*}*/




/*///// FOOTER /////*/


                                                /*  PARTIE 1*/

#g-footer {
    color: #fff;
}

.g-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.g-grid {
    display: -webkit-box;
    -webkit-flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    text-rendering: optimizespeed;
}

.size-100 {
    width: 100%;
    max-width: 100%;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;

}

.g-iconmenu {
     display: -webkit-box;
    display: -moz-box;
     display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
}

.g-iconmenu .g-iconmenu-item {
     -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
     -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
     flex: 1;
     min-width: 0;
     min-height: 0;
     border-right: 1px solid rgba(0, 0, 0, 0.1);
     display: inline-block;
     margin: 1rem 0;
     padding: 0 1rem;
     text-align: center;
}

.g-iconmenu .g-iconmenu-icon {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 100%;
    text-align: center;
    margin: auto;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -webkit-transition: all 0.2s;
}

.g-iconmenu-icon2 {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 100%;
    text-align: center;
    margin: auto;
    width: 60px;
    height: 50px;
    -webkit-transition: all 0.2s;
    font-size: xx-large;
}

.g-iconmenu-item2 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    min-height: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 1rem 0;
    padding: 0 1rem;
    text-align: center;
}

.g-iconmenu span {
    display: block;
}

.g-iconmenu .g-iconmenu-text {
    font-family: "lato", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    padding: 5px 0;
}

                                /*  SEARCH BAR   */


.container {
    width: 100%;
    max-width: 1200px;
}
.header {
    padding: 8px 0 10px 0;
    background: #202324;
    position: relative;
    display: none;
    z-index: 5;
}
.header .navigation{
    box-shadow: 0 0 10px #333;
}
.header .navigation span {
    display: block;
    margin-top: 14px;
    padding: 10px 12px;
    font-size: 13px;
    color: #fff;
}
.header .navigation ul {
    list-style: none;
    padding-left: 0;
}
.header .navigation ul li {
    padding-bottom: 6px;
    padding-top: 6px;
    background: #fff;
    padding-left: 10px;
    border: 1px solid #eee;
    border-top: 0;
}
.header .navigation ul li a {
    font-size: 13px;
}
a {
    color: #888;
}
.header .navigation {
    box-shadow: 0 0 10px #333;
}
.header .navigation span {
    display: block;
    margin-top: 14px;
    padding: 10px 12px;
    font-size: 13px;
    color: #fff;
}
.header .navigation span {
    display: block;
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: 1px dashed #ccc;
    font-size: 15px;
    color: #555;
}
.header .navigation input {
    margin-bottom: 10px;
}
.menu-btn {
    right: 10%;
    z-index: 2000;
}
.menu-btn a {
    display: inline-block;
    width: 120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-decoration: none !important;
}
.head {
    background: rgba(0, 0, 0, 1.0);
    border-top: 3px solid #F76753;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 8px 0;
    width: 100%;
    position: absolute;
    z-index: 1000;
}

.br-lblue {
    background: #368699;
}
.br-green {
    background: #3EB95E;
}
.br-red {
    background: #f75353;
}




                                /*  PARTIE 2  */



.footer {
    z-index: 5;
    overflow: hidden;
    background: -webkit-linear-gradient(rgba(34,34,34,100) 0,#1a1a1a 100%);
    position: absolute;
    width: 100%;
    height: 175px;
    display: -webkit-box;
}

.fcontainer {
    box-sizing: border-box;
    color: #000000;
    display: block;
    font-family: Asap, sans-serif;
    font-size: 15px;
    height: 200px;
    line-height: 21px;
    padding-left: 100px;
    position: relative;
}

.footer-content {
    letter-spacing: normal;
    font-size: 0;
    opacity: .9;
    padding: 40px 0;
    display: block;
}

.footer-main_item {
    display: inline-block;
    vertical-align: top;
    width: 16.6666666667%;
    padding-right: 150px;
}

.footer-main_item_title {
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
    font-family: "Arial Black",sans-serif;
    font-size: 14px;
    margin-bottom: 25px;
}

ul {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: Asap, sans-serif;
    font-size: 12px;
    height: 148px;
    letter-spacing: normal;
    line-height: 16.8px;
    width: 277.328px;
    list-style-position: outside;
    padding: 0;
}

.footer-main_item_list_item {
    color: rgb(232, 230, 227);
    display: list-item;
    margin-top: 5px;
    font-family: Asap, sans-serif;
    font-size: 12px;
    height: 16px;
    letter-spacing: normal;
    line-height: 16.8px;
    text-align: left;
    list-style-type: none;
}

.footer-main_item_list_link {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
    letter-spacing: normal;
    line-height: 16.8px;
    text-align: left;
    text-decoration-line: none;
}

