{{define "header"}}

<div class="connectb">
    <a href="/login" class="button1">Se connecter</a>
    <a href="/signin" class="button2">S'inscrire</a>
</div>

{{end}}

{{define "header2"}}

<div class="connectb">

    <form method="post" action="/logout">
        <a class="button1">
            <button type="submit"  >Se déconnecter</button>
        </a>
    </form>
    <a href="/postcreation" class="button1">Créer un poste</a>
    <a href="/account" class="button1">Mon compte</a>
</div>

{{end}}

{{define "login"}}

<style>
    body {font-family: Arial, Helvetica, sans-serif; color: white}

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        background: #202324;
        border: 1px solid rgb(62, 68, 70);;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */
    button {
        -webkit-appearance: button;
        -moz-appearance: button;
        text-decoration: none;
        color: white;
        margin-left: 30px;
        width: 150px;
        height: 30px;
        border: 2px solid #FFFFFF;
        border-radius: 100px;
        background-color: rgba(0, 0, 0, 0);
    }

    button:hover {
        opacity: 0.8;
    }


    /* Center the image and position the close button */
    .imgcontainer {
        text-align: center;
        margin: 0px 0 0px 0;
        position: relative;
    }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
    }

    /* The Modal (background) */
    .modal {
        z-index: 100;
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        overflow: auto;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */

    .modal-content {
        background-color: #181a1b;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 40%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)}
        to {-webkit-transform: scale(1)}
    }

    @keyframes animatezoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
    }
</style>

<button class="float-right pr-2 pl-2" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>


    <div id="id01" class="modal">
            <form class="modal-content animate" method="post">
                <div class="imgcontainer">
                    <h1 class="mt-6 text-center text-3xl font-muli text-yellow-400">Se connecter</h1>
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>

                <div class="container">
                    <label for="email" class="text-center text-xl font-muli text-yellow-400"><b>Email</b></label>
                    <input name="email"  type="text" placeholder="Entrer Email" id="email" required>

                    <br><br><br>

                    <label for="psw" class="text-center text-xl font-muli text-yellow-400"><b>Mot de passe</b></label>
                    <input name="password" type="password" placeholder="Entrer Mot de passe" id="psw" required>

                    <br>

                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>

                </div>

                <div class="container" style="background-color: #202324">

                    <button type="submit">Login</button>
                    <a class="psw float-right" href="#">Forgot password?</a>

                </div>
            </form>
    </div>

<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

{{end}}