<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Astulpho - Poste</title>
    <link href="/CSS/style.css" rel="stylesheet"/>
    <link href="/CSS/tailwind.css" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>
<a name="haut"></a>
<div id="main">

    <script>

        //  SIDENAV

        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }


    </script>



                            <!--    HEADER       -->

    <div class="section">

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/post">Random Post</a>
        </div>

        <!-- Use any element to open the sidenav -->
        <div class="start">
            <div class="bigburger" onclick="openNav()">
                <div class="burger"></div>
                <div class="burger"></div>
                <div class="burger"></div>
            </div>

            <a href="/" class="title">
                <img src="/static/img/logo.png" class="imgsize" alt="Astulpho">
            </a>
        </div>

    </div>
    <!--    BODY     -->

    <ol class="breadcrumb">

        <span class="glyphicon glyphicon-home hasTooltip" aria-hidden="true"></span>
        <a class="item" href="/">Forum</a>

        <li class="item">&nbsp; → &nbsp; </li>
        <li>

            <a class="item" href="/login">Catégorie</a>
        </li>

        <li class="item">&nbsp; → &nbsp; </li>
        <li>

            <a class="item" href="/login">{{.Posts.Category}}</a>
        </li>

        <li class="item">&nbsp; → &nbsp; </li>
        <li>

            <a class="item" href="/login">{{.Posts.Title}}</a>
        </li>

    </ol>



        <div class="creation">

            <div  class="post">

                <div class="connectb mt-10 justify-between">
                    <a href="/" class="button1 text-yellow-700">Retour</a>
                    {{if (eq .User.Id 0 )}}

                        {{template "login"}}

                    {{end}}
                </div>


                <ol class="breadcrumb border rounded-md w-1/3 mt-8 float-left">

                    <div class="flex justify-center underline"><div class="font-bold">{{.Posts.Category}} : </div>&nbsp; {{.Posts.Title}}</div>

                </ol>


                <div class="body-content bg-comment">
                    <div class="flex justify-between">

                        <div class=" flex flex-col postcontent pl-6 pr-6">

                            <div class="text-white">{{.Posts.Nickname_users}}</div>
                            <div class="auteur">Auteur du sujet </div>
                        </div>

                        <div class="postcontent w-full pt-16 pb-16 pr-28 pl-28 ml-4">
                            <div>{{.Posts.Content}}</div>
                        </div>

                    </div>
                </div>

                {{ $Posts := .Posts }}
                {{ $Comment := .Comment }}
                {{ range $Comments := $Comment }}
                    {{ if (eq $Comments.IdPosts $Posts.Id) }}

                        <div class="body-content bg-comment">
                            <div class="flex justify-between">

                                <div class=" flex flex-col postcontent pl-6 pr-6">

                                    <div class="text-white">{{$Comments.NicknameUsers}}</div>

                                    {{ if ( eq $Comments.NicknameUsers $Posts.Nickname_users) }}
                                    <div class="auteur">Auteur du sujet </div>
                                    {{ end }}

                                </div>

                                <div class="postcontent w-full ml-4">
                                    <div class="">{{ $Comments.CreationDate }}</div>
                                    <div>{{$Comments.Content}}</div>
                                </div>

                            </div>
                        </div>

                    {{ end }}
                {{ end }}


                {{ if ( gt .User.Id 0 ) }}

                    <form class="body-content bg-comment" method="post">
                        <div class="row textbox">
                            <div class="font-medium text-yellow-600 ">
                                <label for="content">Repondre au sujet :</label>
                            </div>
                            <div class="col-75 ml-4">
                                <textarea id="content" name="content" autofocus spellcheck="true" rows="3" class="resize-none border h-52 shadow-sm focus:ring-indigo-500  bg-gray-50 focus:border-indigo-500 mt-1 block menuscroll sm:text-sm border-gray-300 rounded-md" placeholder="Que voulez-vous dire ?" required></textarea>
                            </div>
                        </div>

                        <div class="flex justify-center">
                            <button type="submit" class=" relative mt-5 w-52 br-lblue flex justify-center py-2 px-4 border border-transparent font-medium rounded-md text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Soumettre le message</button>
                        </div>

                    </form>

                {{ end }}

                {{ if ( eq .User.Id 0 ) }}

                <div class="body-content bg-comment">
                    <div class="row textbox">
                        <div class="font-medium text-yellow-600 ">
                            <a href="/login" class="text-blue-400">Connectez-vous </a>
                            <label>pour pouvoir participer au sujet de discussion</label>
                        </div>
                    </div>

                </div>

                {{ end }}
            </div>

        </div>



    {{template "footer"}}

</body>
</html>