{{ if (eq .Id 0)}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Astulpho - Forum</title>
    <link href="/CSS/style.css" rel="stylesheet"/>
    <link href="/CSS/tailwind.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
<a name="haut"></a>
<div id="main">

    <div class="section">
        <!-- Use any element to open the sidenav -->
        <div class="start">

            <a href="/" class="title">
                <img src="/static/img/logo.png" class="imgsize" alt="Astulpho">
            </a>

        </div>

</div>


<!--        PATH de la page         -->

    <ol class="breadcrumb">
        <li class="active">
            <span class="glyphicon glyphicon-home hasTooltip" aria-hidden="true"></span>
            <a class="item" href="/">Forum</a>

            </li>
                <li class="item">&nbsp; → &nbsp; </li>
            <li>

            <a class="item" href="/signin">Inscription</a>
        </li>

    </ol>


<!--    Zone d'inscription   -->

<div class="utilisateur">

    <div class="min-h-screen flex items-center justify-center mt-10 px-4 sm:px-6 lg:px-8">
        <div class="max-w-xl w-full space-y-8">
            <div>

                <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
                <h2 class="mt-6 text-center text-3xl font-muli text-yellow-400">
                    Création de compte
                </h2>

            </div>
            <form class="mt-8 space-y-6" action="/signin" method="POST">
                <input type="hidden" name="remember" value="true">
                <div class="rounded-md -space-y-px inscrire">
                    <div>
                        <label for="pseudo" class="text-yellow-400 float-left mb-0.5">*Pseudo</label>
                        <input id="pseudo" name="pseudo" type="text" minlength="3" maxlength="15" autocomplete="current-pseudo" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Votre nom">
                        <label for="pseudo" class="text-gray-800">Note: Ceci sera votre pseudo d'affichage. 3 caractères minimum / 15 caractères maximum</label>
                    </div>

                    <div>
                        <br>
                        <label for="email-address" class="text-yellow-400 float-left mb-0.5">*Adresse e-mail</label>
                        <input id="email-address" name="email" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="user@email.com">
                        <label for="email-address" class="text-gray-800">Note: Ceci sera l'Email qui sera utilisé pour vous connecter. Merci d'entrer une adresse e-mail valide.</label>
                    </div>

                    <div>
                        <br>
                        <label for="password" class="text-yellow-400 float-left mb-0.5">*Mot de passe</label>
                        <input id="password" name="password" type="password" minlength="6"  autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Mot de passe">
                        <label for="password" class="text-gray-800">Note: Merci d'insérer un mot de passe (6 caractères minimum).</label>
                    </div>

                    <div>
                        <br>
                        <label for="question" class="text-yellow-400 float-left mb-0.5">*Question secrete : Quel est votre acteur, musicien ou artiste favori ?</label>
                        <input id="question" name="qsecrete" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Votre réponse">
                        <label for="question" class="text-gray-800">Note: Pensez que vous utiliserez cette reponse pour récuperer votre potentiel mot de passe perdu (Ne l'oubliez pas !).</label>
                    </div>

                </div>

                <div>

                    <p class="text-white float-left mb-3">Les champs marqués d'une astérisque (*) sont obligatoires.</p>

                    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
                        S'inscrire
                    </button>
                </div>
            </form>
        </div>
    </div>


    <br>
    <hr noshade style="width:50%; height:3px; margin-left:25%; margin-bottom: 15px; border:1px black; border-radius: 100px;">


    <a href="/login" class="font-muli mb-3 text-yellow-400">
        <h2>TU POSSEDES DEJA UN COMPTE ?<br> CONNECTE TOI !</h2>
    </a>

    
    </div>


    {{template "footer"}}


</body>
</html>

{{ else }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page introuvable</title>
    <link href="/CSS/style.css" rel="stylesheet"/>
    <link href="/CSS/tailwind.css" rel="stylesheet"/>

</head>

<style>

    html {
        background: #6b6770;
    }

    .error {
        display: flex;
        position: relative;
        flex-direction: column;
        font-size: 130px;
        font-weight: 700;
        width: 100%;
        justify-content: center;
        align-items: center;
        top: 150px;
        bottom: 150px;
    }

    .error404 {
        margin-right: 50%;
        color: #e5b040;
        font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
        text-shadow: -2px 0 #1f1f1f;
    }

    .colorerror{
        text-shadow: -8px 0px 20px #1f1f1f;
        margin-right: 27%;
        font-size: 20px;
        color: #b9bbbe;
        line-height: 35px;
        text-align: left;
        font-weight: 300;
    }

    a {
        font-size: 20px;
        font-weight: 700;
    }

</style>

<body>



<!--    BODY     -->
<br>
<ol class="breadcrumb mt-0">

    <span class="glyphicon glyphicon-home hasTooltip" aria-hidden="true"></span>
    <a class="item" href="/">Forum</a>

    <li class="item">&nbsp; ? &nbsp; </li>
    <li>

        <a class="item" href="/login">Autorisation refusée</a>
    </li>

</ol>

<!--    PARTIE ERROR   -->

<div class="error">

    <div class="error404 ml-56 pl-56"> ERREUR D'AUTHORISATION</div>
    <div class="colorerror">
        Mince ! <br>
        Vous vous êtes perdu ?<br>
        Malheureusement, il semblerait que la page demandé ne soit pas accessible ou inexistante ! :O<br>
        La seule chose que je peux vous proposer c'est d'essayer de cliquer sur ces liens ci-dessous, ils pourraient vous guider vers la bonne voie.

        <div>
            <br>
            <a href="/">→ &nbsp; Accueil</a><br>
            <a href="/account">→ &nbsp; Profil</a>
        </div>
    </div>


</div>

</body>
</html>
{{ end }}